#dify-chatbot-bubble-button {
  background-color: #1C64F2 !important;
}

#dify-chatbot-bubble-window {
  width: 24rem !important;
  height: 40rem !important;
}

/* 로그인하지 않은 상태에서 챗봇 숨김 */
body.unauthenticated #dify-chatbot-bubble-button,
body.unauthenticated #dify-chatbot-bubble-window {
  display: none !important;
}